{% extends 'core/main.html' %}

{% block content %}

<!---ESPACIADOR-->
  <div class="row">
    <div class="col">
      <br>
      &nbsp;
      
    </div>
  </div>

  <!---Perfil-->
  <div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="https://filestore.community.support.microsoft.com/api/images/39da0bc2-ad7d-434d-bc10-fb80d3a85b7c?upload=true" alt="perfil" max-width="150px" height="150px">
    <h1 class="display-5 fw-bold">Carla Pérez</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Socia desde 2021. <br>
      Puntos caninos: 199 <br>
      Madrina de: Cleo, Negro, Cachulo.
      </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Suscribir una donación mensual</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Cancelar mi suscripción</button>
      </div>

    </div>
  </div>


  <!--FOOTER-->
  <footer class="page-footer fixed-bottom">
    <div class="mt-5 p-4 bg-primary text-white text-center">
      <p>2022 Patricio Ortiz - Matías Silva - Francisco Silva </p>
    </div>
  </footer>

{% endblock content %}