{% extends 'core/main.html' %}

{% block content %}

  <!---REGISTRO USUARIOS-->
  <!--
  <div class="row">
    <div class="col">
      <div class="container">
        <h2>Regístrate como socio(a)</h2>
        <form action="" method="post" enctype="" name="registro">
          <div class="mb-3 mt-3">
            <label for="nombre">Nombre:</label>
            <input type="text" class="form-control" id="user" placeholder="ej: Carla">
          </div>
          <div class="mb-3 mt-3">
            <label for="apellidos">Apellidos:</label>
            <input type="text" class="form-control" id="apellidos" placeholder="ej: Pérez González">
          </div>
          <div class="mb-3 mt-3">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" placeholder="ej: mi.correo@ejemplo.com" name="emilio">
          </div>
          <div class="mb-3">
            <label for="pwd">Contraseña:</label>
            <input type="password" class="form-control" id="pass" placeholder="Crea tu constrseña" name="pswd">
          </div>
          
          <div class="form-check mb-3">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" name="remember"> NO SOY UN ROBOT.
            </label>
          </div>
          <button type="button" class="btn btn-primary" name="btnConectar"
          onclick= "agregarTabla(); validateEmail(document.registro.email)">Registrarme</button>
        
        </form>
        <br>
        <p>Si Ud. ya posee una cuenta de usuario, diríjase a la sección Inicar sesión.</p>
      </div>

    </div>
  </div>
--->

<div class="row">
  <div class="col">
    <div class="container">
      <h2>Regístrate como socio</h2>
      <form action="" method="POST" enctype="" name="RegistroForm">
        {% csrf_token %}

        <div class="form-group">
          {{form.as_p}}

            <!-- Incluir en campo regiones https://apis.digital.gob.cl/dpa/regiones-->
        </div>

        <div class="form-check mb-3">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="remember"> NO SOY UN ROBOT.
          </label>
        </div>

        <input type="submit" class="btn btn-primary" value="Conectar"> <!--ONCLICK que te lleve a la página de Usuario-->
        <input type="reset" class="btn btn-warning"  value="Reset">
        <p>
          Si Ud. ya posee una cuenta de usuario, diríjase a la sección Inicar sesión.
        </p>

      </form>
    </div>
  </div>
</div>


<!--tabla-->
</div>
<div class="row">
    <div class="col">
        <div class="container">
          <table name="tabla1" id="tabla1" class="table table-light table-hover table-responsive-md-8"
            style="visibility: hidden;">
            <thead>
                <tr>
                    <th>Nombre y Apellido</th>
                    <th>E-Mail</th>
                    <th>Contraseña</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody name="bodyTabla1" id="bodyTabla1">
            </tbody>
        </table>
        </div>
    </div>
</div>



  <!--FOOTER
  <footer class="page-footer fixed-bottom">
    <div class="mt-5 p-4 bg-primary text-white text-center">
      <p>2022 Patricio Ortiz - Matías Silva - Francisco Silva </p>
    </div>
  </footer>
-->

{% endblock content %}